In [1]:
import pandas as pd

# Get the data to analyse
df = pd.read_csv('../data/imdb/imdb_movies.csv')
df.head()

                 movie    year  imdb  metascore    votes
0            Gladiator  (2000)   8.5         67  1333828
1              Memento  (2000)   8.4         80  1119827
2               Snatch  (2000)   8.3         55   778266
3  Requiem for a Dream  (2000)   8.3         68   762712
4                X-Men  (2000)   7.4         64   568731

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      3272 non-null   object
 1   year       3272 non-null   object
 2   imdb       3272 non-null   float64
 3   metascore  3272 non-null   int64
 4   votes      3272 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 127.9+ KB

In [3]:
# Reorder columns
df = df[['movie', 'year', 'imdb', 'metascore', 'votes']]
df.head()

                 movie    year  imdb  metascore    votes
0            Gladiator  (2000)   8.5         67  1333828
1              Memento  (2000)   8.4         80  1119827
2               Snatch  (2000)   8.3         55   778266
3  Requiem for a Dream  (2000)   8.3         68   762712
4                X-Men  (2000)   7.4         64   568731

In [4]:
df['year'].unique()

array(['(2000)', '(I) (2000)', '(2001)', '(2002)', '(2003)', '(2004)',
       '(I) (2004)', '(2005)', '(I) (2005)', '(2006)', '(I) (2006)',
       '(2007)', '(I) (2007)', '(2008)', '(I) (2008)', '(2009)',
       '(I) (2009)', '(2010)', '(I) (2010)', '(2011)', '(I) (2011)',
       '(2012)', '(I) (2012)', '(2013)', '(I) (2013)', '(2014)',
       '(I) (2014)', '(II) (2014)', '(2015)', '(I) (2015)', '(II) (2015)',
       '(2016)', '(II) (2016)', '(IX) (2016)', '(I) (2016)', '(2017)',
       '(I) (2017)'], dtype=object)

In [5]:
df.loc[:, 'year'] = df['year'].str[-5:-1].astype(int)
df['year'].head()

0    2000
1    2000
2    2000
3    2000
4    2000
Name: year, dtype: int64

In [6]:
df.describe()

              year         imdb    metascore         votes
count  3272.000000  3272.000000  3272.000000  3.272000e+03
mean   2008.405868     7.119438    63.342298  3.573884e+05
std       5.204383     0.737020    15.703230  2.424357e+05
min    2000.000000     4.100000    24.000000  1.017830e+05
25%    2004.000000     6.600000    52.000000  2.055710e+05
50%    2008.000000     7.200000    64.000000  2.780120e+05
75%    2013.000000     7.700000    75.000000  4.315370e+05
max    2017.000000     9.000000   100.000000  2.289350e+06

In [7]:
# Scale the imdb rating to align with metascore
df['n_imdb'] = df['imdb'] * 10
df.head()

                 movie  year  imdb  metascore    votes  n_imdb
0            Gladiator  2000   8.5         67  1333828    85.0
1              Memento  2000   8.4         80  1119827    84.0
2               Snatch  2000   8.3         55   778266    83.0
3  Requiem for a Dream  2000   8.3         68   762712    83.0
4                X-Men  2000   7.4         64   568731    74.0

In [8]:
# Persist the clean dataset
df.to_csv('../data/imdb/imdb_movies_clean.csv')